/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Poppins:wght@200;400;600&display=swap');

/*Variables para los colores*/
:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--Darkcyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
}

.card-container{
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    /*La posición debe ir aquí*/
    position: relative;
}

.bubbles{
    background: url(images/bg-pattern-card.svg);
    height: 140px;
}
.photo{
    /*Y aquí*/
    position:absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.personal-data-container{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}

.name{
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue);
}

.age .city{
    color: var(--Dark-gray);
}

.city{
    margin-top: 10px;
    font-size: 0.8em;
}

.stats-container{
    background-color: white;
    border-top: 1px solid var(--Dark-gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.statistics{
    text-align: center;
}

.quantity{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--Verydarkdesaturatedblue);
}

.units{
    font-size: 0.6em;
    color: var(--Dark-gray);
    letter-spacing: 2px;
}
/*------------------------Footer--------------------*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*----------------------(1440 px)----------------*/
@media screen and (min-width:1440px){
    .card-container{
        width: 350px;
    }
}





